#dark .landing-section {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/landing-dark-mode.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 15vh;
    padding-left: 15vw;
    padding-right: 15vw;

    &__intro-p {
        @include p-text-darkmode;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__middle-p {
        @include heading-darkmode;
        width: 35ch;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    &__p {
        width: 55ch;
        @include p-text-darkmode;
    }

    &__red-p {
        color: $feature-red !important;
        cursor: pointer;
    }

    &__red-p:hover {
        color: $feature-red !important;
    }

    &__feature-word {
        font-family: $feature-font;
        font-size: 2.8rem;
        letter-spacing: .1rem;
    }

    &__wave {
        font-size: 4rem;
        margin-right: 1rem;
        animation: wave-animation 3s;
        display: inline-block;
        cursor: pointer;
    }

    &__wave:hover {
        animation: running;
    }
      
    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
        10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
    }  

    &__bottom-left-star-div-yellow {
        display: none;
    }

    &__top-right-star-div-yellow {
        display: none;
    }

    &__bottom-left-star-div {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(10%, 10%);
    }

    &__top-right-star-div {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: 7%;
        left: 60%;
        transform: translate(40%, 10%);
    }

    &__twinkle:hover {
        animation: running;
        cursor: pointer;
    }

    &__big-star-bl {
        position: relative;
        top: 25%;
        left: 20%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-bl {
        position: relative;
        top: 60%;
        left: 10%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-bl {
        position: relative;
        top: 45%;
        left: 30%;
        animation: starTwinkle 3.5s;
    }

    &__big-star-tr {
        position: relative;
        top: 10%;
        left: 60%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-tr {
        position: relative;
        top: 45%;
        left: 65%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-tr {
        position: relative;
        top: 30%;
        left: 35%;
        animation: starTwinkle 3.5s;
    }

    @keyframes starTwinkle {
        0% { transform: scale(1) }
        25% { transform: scale(1.4) }
        50% { transform: scale(1) }
        75% { transform: scale(1.3) }
        100% { transform: scale(1) }
    }
}

#light .landing-section {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/landing-light-mode.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 15vh;
    padding-left: 15vw;
    padding-right: 15vw;

    &__intro-p {
        @include p-text;
        font-size: 3rem;
        font-weight: 400;
        margin-bottom: 1rem;
    }

    &__middle-p {
        @include heading;
        width: 35ch;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    &__p {
        width: 50ch;
        @include p-text;
    }

    &__red-p {
        color: $feature-red !important;
        cursor: pointer;
    }

    &__red-p:hover {
        color: $feature-red !important;
    }

    &__feature-word {
        font-family: $feature-font;
        font-size: 2.8rem;
        letter-spacing: .1rem;
    }

    &__wave {
        font-size: 4rem;
        margin-right: 1rem;
        animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
        animation-duration: 3s;        /* Change to speed up or slow down */
        transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
        display: inline-block;
        cursor: pointer;
    }

    &__wave:hover {
        animation: running;
    }
      
    @keyframes wave-animation {
        0% { transform: rotate( 0.0deg) }
        10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
        20% { transform: rotate(-8.0deg) }
        30% { transform: rotate(14.0deg) }
        40% { transform: rotate(-4.0deg) }
        50% { transform: rotate(10.0deg) }
        60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
        100% { transform: rotate( 0.0deg) }
    }  

    &__bottom-left-star-div {
        display: none;
    }

    &__top-right-star-div {
        display: none;
    }

    &__bottom-left-star-div-yellow {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: 50%;
        left: 3%;
        transform: translate(10%, 10%);
    }

    &__top-right-star-div-yellow {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: 7%;
        left: 60%;
        transform: translate(40%, 10%);
    }

    &__twinkle:hover {
        animation: running;
        cursor: pointer;
    }

    &__big-star-bl {
        position: relative;
        top: 25%;
        left: 20%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-bl {
        position: relative;
        top: 60%;
        left: 10%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-bl {
        position: relative;
        top: 45%;
        left: 30%;
        animation: starTwinkle 3.5s;
    }

    &__big-star-tr {
        position: relative;
        top: 10%;
        left: 60%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-tr {
        position: relative;
        top: 45%;
        left: 65%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-tr {
        position: relative;
        top: 30%;
        left: 35%;
        animation: starTwinkle 3.5s;
    }

    @keyframes starTwinkle {
        0% { transform: scale(1) }
        25% { transform: scale(1.4) }
        50% { transform: scale(1) }
        75% { transform: scale(1.3) }
        100% { transform: scale(1) }
    }
}

@media screen and (max-width: 750px) {
    #light .landing-section {
        padding-top: 15vh;
        padding-left: 10vw;
        padding-right: 10vw;

        &__intro-p {
            font-size: 2rem;
        }
    
        &__middle-p {
            font-size: 1.5rem;
            width: 65vw;
            max-width: 80vw;
        }
    
        &__p {
            font-size: 1.3rem;
            max-width: 80vw;
        }

        &__wave {
            font-size: 3rem;
        }

        &__feature-word {
            font-size: 1.6rem;
        }

        &__bottom-left-star-div-yellow {
            top: 55%;
        }
        
        &__top-right-star-div-yellow {
            display: none;
        }
    }

    #dark .landing-section {
        padding-top: 15vh;
        padding-left: 10vw;
        padding-right: 10vw;

        &__intro-p {
            font-size: 2rem;
        }
    
        &__middle-p {
            font-size: 1.5rem;
            width: 65vw;
            max-width: 80vw;
        }
    
        &__p {
            font-size: 1.2rem;
            max-width: 80vw;
        }

        &__wave {
            font-size: 3rem;
        }

        &__feature-word {
            font-size: 1.6rem;
        }

        &__bottom-left-star-div {
            top: 55%;
        }
        
        &__top-right-star-div {
            display: none;
        }
    }
}

@media screen and (min-width: 750px) and (max-width: 1023px) {
    #light .landing-section {
        padding-top: 15vh;
        padding-left: 10vw;
        padding-right: 10vw;

        &__intro-p {
            font-size: 3rem;
        }
    
        &__middle-p {
            font-size: 3rem;
        }
    
        &__p {
            font-size: 1.5rem;
        }

        &__wave {
            font-size: 4.5rem;
        }

        &__feature-word {
            font-size: 3rem;
        }

        &__bottom-left-star-div-yellow {
            top: 59%;
        }
        
        &__top-right-star-div-yellow {
            display: none;
        }
    }

    #dark .landing-section {
        padding-top: 15vh;
        padding-left: 10vw;
        padding-right: 10vw;

        &__intro-p {
            font-size: 3rem;
        }
    
        &__middle-p {
            font-size: 3rem;
        }
    
        &__p {
            font-size: 1.5rem;
        }

        &__wave {
            font-size: 4.5rem;
        }

        &__feature-word {
            font-size: 3rem;
        }

        &__bottom-left-star-div {
            top: 59%;
        }
        
        &__top-right-star-div {
            display: none;
        }
    }
}