@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin p-text-darkmode {
    font-family: $text-font;
    color: white;
    font-size: 1.6rem;
}

@mixin light-p-text-darkmode {
    @include p-text-darkmode;
    color:  $light-text-colour;
}

@mixin heading-darkmode {
    @include p-text-darkmode;
    font-size: 2.5rem;
    font-weight: bolder;
}

@mixin p-text {
    font-family: $text-font;
    color: $text-colour;
    font-size: 1.6rem;
}

@mixin light-p-text {
    @include p-text;
    color:  $light-text-colour;
}

@mixin landing-heading-text {
    @include p-text;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

@mixin heading {
    @include p-text;
    font-size: 2.5rem;
    font-weight: bolder;
}

@mixin btn-beginnings {
    @include center;
    @include p-text;
    border: none;
    text-decoration: none;
    border-radius: 360px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5px 0;
    cursor: pointer;
}

@mixin outline-btn {
    @include btn-beginnings;
    border: 1px solid $feature-blue;
    color: $feature-blue !important;
    background-color: white;
}

@mixin solid-btn {
    @include btn-beginnings;
    background: $feature-blue;
    color: white !important;
}

@mixin input {
    @include center;
    @include p-text;
    background-color: $light-mist;
    text-decoration: none;
    border: 1px solid $light-text-colour;
    border-radius: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 5px 0;
    cursor: pointer;
}