#light .personal-projects {
    width: 100vw;
    padding-top: 15vh;
    padding-left: 10vw;
    // padding-right: 10vw;
    padding-bottom: 15vh;
    background-color: $light-mist;

    &__text-div {
        position: relative;
    }

    &__heading {
        @include heading;
        margin-bottom: 2rem;
    }

    &__p {
        @include p-text;
        width: 65ch;
        margin-bottom: 3rem;
    }

    &__projects-container {
        width: 100%;
        overflow-x: scroll;
        display: flex;
    }

    &__project-div {
        width: 25rem;
        height: 25rem;
        @include center;
        border: 12px solid white;
        box-shadow: 5px 5px 10px $text-colour;
        margin: 1rem;
        margin-right: 5rem;
        cursor: pointer;
        flex-shrink: 0;
    }

    &__project-div-b-g {
        background: #8EDBE6;
        background: -webkit-linear-gradient(to bottom right, #8EDBE6 0%, #8EE6B1 100%);
        background: -moz-linear-gradient(to bottom right, #8EDBE6 0%, #8EE6B1 100%);
        background: linear-gradient(to bottom right, #8EDBE6 0%, #8EE6B1 100%);
    }

    &__project-div-p-b {
        background: #C191FF;
        background: -webkit-linear-gradient(to bottom right, #C191FF 0%, #8EDBE6 100%);
        background: -moz-linear-gradient(to bottom right, #C191FF 0%, #8EDBE6 100%);
        background: linear-gradient(to bottom right, #C191FF 0%, #8EDBE6 100%);
    }

    &__project-div-o-p {
        background: #FFD874;
        background: -webkit-linear-gradient(to bottom right, #FFD874 0%, #FF91CD 100%);
        background: -moz-linear-gradient(to bottom right, #FFD874 0%, #FF91CD 100%);
        background: linear-gradient(to bottom right, #FFD874 0%, #FF91CD 100%);
    }

    &__img {
        width: 100%;
    }

    &__top-right-star-div {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: -40%;
        left: 75%;
    }

    &__twinkle:hover {
        animation: running;
        cursor: pointer;
    }

    &__big-star-tr {
        width: 2rem;
        position: relative;
        top: 10%;
        left: 60%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-tr {
        width: 1rem;
        position: relative;
        top: 45%;
        left: 65%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-tr {
        width: 1rem;
        position: relative;
        top: 30%;
        left: 35%;
        animation: starTwinkle 3.5s;
    }

    @keyframes starTwinkle {
        0% { transform: scale(1) }
        25% { transform: scale(1.4) }
        50% { transform: scale(1) }
        75% { transform: scale(1.3) }
        100% { transform: scale(1) }
    }
}

#dark .personal-projects {
    width: 100vw;
    padding-top: 15vh;
    padding-left: 10vw;
    // padding-right: 10vw;
    padding-bottom: 15vh;
    background-color: $dark-background-lighter;

    &__text-div {
        position: relative;
    }

    &__heading {
        @include heading-darkmode;
        margin-bottom: 2rem;
    }

    &__p {
        @include p-text-darkmode;
        width: 65ch;
        margin-bottom: 3rem;
    }

    &__projects-container {
        width: 100%;
        overflow-x: scroll;
        display: flex;
    }

    &__project-div {
        width: 25rem;
        height: 25rem;
        @include center;
        border: 12px solid $dark-background;
        box-shadow: 5px 5px 10px rgb(29, 29, 29);
        margin: 1rem;
        margin-right: 5rem;
        cursor: pointer;
        flex-shrink: 0;
        position: relative;
    }

    &__hover-info {
        width: 100%;
        height: 100%;
        @include center;
        flex-direction: column;
        background-color: #0000009c;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    &__hover-info:hover {
        animation: info-text-hover .5s;
    }

    @keyframes info-text-hover {
        0% { background-color: transparent }
        100% { background-color: #0000009c }
    }

    &__info-p {
        @include p-text-darkmode;
    }

    &__info-btn {
        @include solid-btn;
    }

    &__project-div-b-g {
        background: #84cad5;
        background: -webkit-linear-gradient(to bottom right, #84cad5 0%, #80d2a1 100%);
        background: -moz-linear-gradient(to bottom right, #84cad5 0%, #80d2a1 100%);
        background: linear-gradient(to bottom right, #84cad5 0%, #80d2a1 100%);
    }

    &__project-div-p-b {
        background: #a47cd8;
        background: -webkit-linear-gradient(to bottom right, #a47cd8 0%, #84cad5 100%);
        background: -moz-linear-gradient(to bottom right, #a47cd8 0%, #84cad5 100%);
        background: linear-gradient(to bottom right, #a47cd8 0%, #84cad5 100%);
    }

    &__project-div-o-p {
        background: #e6c369;
        background: -webkit-linear-gradient(to bottom right, #e6c369 0%, #e984bc 100%);
        background: -moz-linear-gradient(to bottom right, #e6c369 0%, #e984bc 100%);
        background: linear-gradient(to bottom right, #e6c369 0%, #e984bc 100%);
    }

    &__img {
        width: 100%;
    }

    &__top-right-star-div {
        width: 25vw;
        height: 35vh;
        position: absolute;
        top: -40%;
        left: 75%;
    }

    &__twinkle:hover {
        animation: running;
        cursor: pointer;
    }

    &__big-star-tr {
        width: 2rem;
        position: relative;
        top: 10%;
        left: 60%;
        animation: starTwinkle 5s;
    }

    &__small-star-one-tr {
        width: 1rem;
        position: relative;
        top: 45%;
        left: 65%;
        animation: starTwinkle 4s;
    }

    &__small-star-two-tr {
        width: 1rem;
        position: relative;
        top: 30%;
        left: 35%;
        animation: starTwinkle 3.5s;
    }

    @keyframes starTwinkle {
        0% { transform: scale(1) }
        25% { transform: scale(1.4) }
        50% { transform: scale(1) }
        75% { transform: scale(1.3) }
        100% { transform: scale(1) }
    }
}