*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 65.5%;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    text-align: center;
}

a:hover {
    color: inherit !important;
}

a:link{
    text-decoration: none;
    color: inherit;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

input {
    text-align: center;
}

input:focus{
    border: none !important;
}

input::placeholder:focus {
    color: transparent !important;
}
  
::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

li {
    list-style: none;
    cursor: pointer;
}

.hide {
    display: none !important;
}

.right-page {
    float: right;
    width: 80vw;
    max-width: 80vw;
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#dark {
    background-color: $dark-background;
}

#light {
    background-color: white;
}

// media queries/responsive design
@media only screen and (max-width: 600px) {
    .right-page {
        width: 100vw;
        max-width: 100vw;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1023px) {
    .right-page {
        width: 100vw;
        max-width: 100vw;
    }
}