#light .toggle {
    width: 100vw;
    height: 6rem;
    @include center;
    padding-top: 2rem;
    position: absolute;
    top: 0%;
    left: 0%;

    &__div {
        width: 8rem;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: #5DCBDC;
        background: linear-gradient(to top, #64d9eb 0%, #64ebd7 100%);
        border-radius: 360px;
        padding-left: .5rem;
        padding-right: .8rem;
        cursor: pointer;
        box-shadow: inset -2px 2px 4px gray;
    }

    &__sun-emoji {
        font-size: 3rem;
    }

    &__sun-emoji:hover {
        animation: toggle-rotate 2s;
    }

    @keyframes toggle-rotate {
        0% { transform: rotate( 0.0deg) }
        25% { transform: rotate( 8.0deg) }
        75% { transform: rotate( -8.0deg) }
        100% { transform: rotate( 0.0deg) }
    }

    &__moon-emoji {
        display: none;
    }
}

#dark .toggle {
    width: 100vw;
    height: 6rem;
    @include center;
    padding-top: 2rem;
    position: absolute;
    top: 0%;
    left: 0%;

    &__div {
        width: 8rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #373657;
        background: linear-gradient(to top, #373657 0%, #2D3A91 100%);
        border-radius: 360px;
        padding-left: .5rem;
        padding-right: .8rem;
        cursor: pointer;
        box-shadow: 0px 0px 8px $feature-blue;box-shadow: inset -2px 2px 4px rgb(14, 14, 14);
    }

    &__moon-emoji {
        font-size: 2.8rem;
    }

    &__sun-emoji {
        display: none;
    }

    &__moon-emoji:hover {
        animation: toggle-rotate 2s;
    }

    @keyframes toggle-rotate {
        0% { transform: rotate( 0.0deg) }
        25% { transform: rotate( 8.0deg) }
        75% { transform: rotate( -8.0deg) }
        100% { transform: rotate( 0.0deg) }
    }
}

@media screen and (max-width: 750px) {
    #light .toggle {
        padding-top: 1.5rem;

        &__div {
            width: 6rem;
            height: 3rem;
            padding-right: .4rem;
        }

        &__sun-emoji {
            font-size: 2.5rem;
        }
    }

    #dark .toggle {
        padding-top: 1.5rem;

        &__div {
            width: 6rem;
            height: 3rem;
            padding-left: .4rem;
        }

        &__moon-emoji {
            font-size: 2.3rem;
        }
    }
}

@media screen and (min-width: 750px) and (max-width: 1023px) {
    // #light .toggle {
    //     padding-top: 1.5rem;

    //     &__div {
    //         width: 6rem;
    //         height: 3rem;
    //         padding-right: .4rem;
    //     }

    //     &__sun-emoji {
    //         font-size: 2.5rem;
    //     }
    // }

    // #dark .toggle {
    //     padding-top: 1.5rem;

    //     &__div {
    //         width: 6rem;
    //         height: 3rem;
    //         padding-left: .4rem;
    //     }

    //     &__moon-emoji {
    //         font-size: 2.3rem;
    //     }
    // }
}