$text-font: 'Roboto', sans-serif;
$feature-font: 'Shrikhand', cursive;

$light-mist: #F8F8F8;
$text-colour: #606060;
$light-text-colour: #C4C4C4;
$dark-background: #343434;
$dark-background-lighter: #424242;
$light-outline: #E5E5E5;

$feature-red: #F37777;
$feature-blue: #5DCBDC;

$light-yellow: #FFF7CF;
$dark-yellow: #FFD464;